body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-decoration:none; 
    color: #333;
    margin: 0;
    scroll-behavior: smooth;
}

.frontPagePicture{
    width: 100%;
}

.ondertitelContainer{
    display: flex;
    background-color: #7F7F7F;
    justify-content: space-around;
    text-align: center;
}
.ondertTitel{
    font-size: large;
    height: fit-content;
}
